<div class="content">
  <div class="d-flex justify-content-center mb-4">
    <h1>Cadastrar Recomendação</h1>
  </div>
  <div id="form">
    <div class="col p-2" id="name">
      <input type="text" class="form-control" #recommendationName placeholder="Nome" aria-label="Nome" required>
    </div>
    <div class="col p-2" id="cpf">
      <input type="text" class="form-control" #recommendationCpf placeholder="CPF" aria-label="CPF" required>
    </div>
    <div class="col p-2" id="telefone">
      <input type="text" class="form-control" #recommendationTelephone placeholder="Telefone" aria-label="Telefone" required>
    </div>
    <div class="col p-2" id="email">
      <input type="email" class="form-control" #recommendationEmail placeholder="Email" aria-label="Email" required>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <button type="submit" class="btn btn-success" (click)="createRecommendation(recommendationName.value, recommendationCpf.value ,recommendationTelephone.value, recommendationEmail.value); recommendationName.value=''; recommendationCpf.value=''; recommendationTelephone.value=''; recommendationEmail.value=''">Add</button>
  </div>
</div>
